<header class="header">
  <div class="header-left">
    <button pButton pRipple type="button" icon="pi pi-bars"  (click)="visibleSidebar = true" class="p-button-rounded p-button-text header-menu-button"></button>
  </div>
  <div class="header-right">
    <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text header-user-button"></button>
    <button pButton pRipple type="button" pTooltip="Sair" (click)="logout()" tooltipPosition="bottom" icon="pi pi-power-off" class="p-button-rounded p-button-text header-logout-button"></button>
  </div>
</header>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
  <h3>Left Sidebar</h3>
</p-sidebar>

<div class="content">
  <p>teste</p>
</div>
